/*
Currently media queries with min/max resolution are not working
in Firefox until fixing:
https://bugzilla.mozilla.org/show_bug.cgi?id=779527
That's why in SII or Nexus SMS App is not rendered properly.
*/

@media screen and (min-resolution: 230dpi) {

  html {
    font-size: 14.7px;
  }
}

@media screen and (max-resolution: 220dpi) {

  html {
    font-size: 13.5px;
  }
}

@media screen and (max-resolution: 200dpi) {

  html {
    font-size: 10px;
  }
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  font-family: 'MozTT', sans-serif;
}

/* Panel handling */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.mainPanel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.settingsPanel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
}

.appsPanel {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
}

.to-left {
  transition: transform .4s linear;
  transform: translateX(-100%);
}

.to-right {
  transition: transform .2s linear;
  transform: translateX(0%);
}

.to-up {
  transition: transform .4s linear;
  transform: translateY(-100%);
}

.to-down {
  transition: transform .2s linear;
  transform: translateY(0);
}

section[role="region"] > header:first-child .icon.icon-settings {
  background-image: url(img/settings.png);
}

.unregisterButton {
  margin: 1rem 1rem 0px 0px;
}
